.nav{
    grid-area: n;
    background-color: rgb(123, 34, 201); 
  }


.item{
  /* color:white; */
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 7px;
 
}

 
a{font: 900 30px 'Roboto';
 color: rgb(67, 0, 108);}

/* a:visited{font: 900 30px 'Roboto';}
NavLink:visited{font: 900 30px 'Roboto';}
.elem:visited{font: 900 30px 'Roboto';} */

a:hover{
  color: rgb(255, 255, 255);
  transition-duration: 0.2s ;
 
}


.item:hover{
  background-color: rgb(173, 90, 237);
  transition-duration: 0.2s ;
  /* color: white; */
   
}

a:-webkit-any-link {
  
  cursor: pointer;
  text-decoration: none;
  font: 900 30px 'Roboto';
  font-family:'Roboto'
}

a:active{color: white;}
a.active{color: white;}

