.nav{
    grid-area: n;
    background-color: rgb(123, 34, 201);
    
   
    
  }
.item{
  color:white;
  /* margin-top: 20px; */

  padding-top: 10px;
  padding-left: 7px;
 
}
 
a{font: 900 30px 'Roboto';}

a:hover{
  color: white;
  /* padding-left:7px; */
  

  transition-duration: 0.2s ;}

a:visited{
text-decoration: none;
font: 900 30px 'Roboto';

}

.item:hover{
  background-color: rgb(173, 90, 237);
  transition-duration: 0.2s ;
  color: white;
  padding-left:15px;


  
}

 